<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.tasklist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DraculaRed">
        <activity
            android:name=".views.AddTaskActivity"
            android:label="Add a task"
            android:parentActivityName=".views.MainActivity"
            android:textColor="@color/DtextColor" />
        <activity
            android:name=".views.MainActivity"
            android:label="All tasks"
            android:textColor="@color/DtextColor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.ViewTaskActivity"
            android:label="View or Edit task"
            android:parentActivityName=".views.MainActivity"
            android:textColor="@color/DtextColor" />
        <activity android:name=".views.ThemesActivity"
            android:label="Select a theme"/>
        <activity android:name=".views.PrioritiesActivity"
            android:label="All starred tasks"/>
    </application>

</manifest>